<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tela Inicial</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/gerenciamento/style.css" rel="stylesheet">
</head>
<body>
   <div class="btn-group ms-4 mt-4 shadow">
        <button class="btn btn-secondary btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Motorista
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            
            <li><a class="dropdown-item d-flex justify-content-center" href="motorista/cadastrar">Cadastrar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="motorista/pesquisar">Pesquisar</a></li>
            <li><hr class="dropdown-divider d-flex justify-content-center"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="motorista/editar">Editar</a></li>
            <li><hr class="dropdown-divider d-flex justify-content-center"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="motorista/excluir">Excluir</a></li>
        </ul>
    </div>

    <div class="btn-group ms-2 mt-4 shadow">
        <button class="btn btn-secondary btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cartão
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item d-flex justify-content-center" href="cartao/cadastrar">Cadastrar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="cartao/pesquisar">Pesquisar</a></li>
            <li><hr class="dropdown-divider "></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="cartao/editar">Editar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="cartao/excluir">Excluir</a></li>
        </ul>
    </div>
    
    <div class="btn-group ms-2 mt-4 shadow">
        <button class="btn btn-secondary btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Veículo
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item d-flex justify-content-center" href="veiculo/cadastrar">Cadastrar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="veiculo/pesquisar">Pesquisar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="veiculo/editar">Editar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="veiculo/excluir">Excluir</a></li>
        </ul>
    </div>

    <div class="btn-group ms-2 mt-4 shadow">
        <button class="btn btn-secondary btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tipo de Veículo
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item d-flex justify-content-center" href="tipo/cadastrar">Cadastrar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="tipo/pesquisar">Pesquisar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="tipo/editar">Editar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="tipo/excluir">Excluir</a></li>
        </ul>
    </div>

    <div class="btn-group ms-2 mt-4 shadow">
        <button class="btn btn-secondary btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Frete
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'gerenciamento:cadastrarf' %}">Cadastrar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'gerenciamento:pesquisarf' %}">Pesquisar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'gerenciamento:editarf' %}">Editar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'gerenciamento:excluirf' %}">Excluir</a></li>
        </ul>
    </div>

    <div class="btn-group ms-2 mt-4 shadow">
        <button class="btn btn-secondary btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pagamento
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'gerenciamento:cadastrarp' %}">Cadastrar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'gerenciamento:pesquisarp' %}">Pesquisar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'gerenciamento:editarp' %}">Editar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'gerenciamento:excluirp' %}">Excluir</a></li>
        </ul>
    </div>

    <div class="btn-group ms-2 mt-4 shadow">
        <button class="btn btn-secondary btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fiscal
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'gerenciamento:cadastraru' %}">Cadastrar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'gerenciamento:pesquisaru' %}">Pesquisar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'gerenciamento:editaru' %}">Editar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item d-flex justify-content-center" href="{% url 'gerenciamento:excluiru' %}">Excluir</a></li>
        </ul>
    </div>
    
    <div class="d-flex align-items-center">

    
    </div>

  <div class="d-flex align-items-center">
    <img width="400" src="/gerenciamento/OPL-Fundo-Branco-1.png" class="mx-auto" alt="logo">
  </div>

  <div class="container-sm">
    <div class="d-flex position-absolute bottom-0 start-0">
      <nav class="navbar">
        <div class="container">
          <ul class="nav-item dropup mt-4">
            <a class="btn btn-secondary dropdown-toggle btn-pequeno shadow" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuário
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/password_reset">Redefinir Senha</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Sair</a></li>
            </ul>
          </ul>
          <img class="mt-2 mb-3" width="90" height="45" src="/gerenciamento/user-solid.svg" alt="foto">
          <p style="font-size: larger;">
            Seja bem-vindo, Usuário! <br>
            <strong>SISTEMA DE GERENCIAMENTO DE FRETES</strong>
          </p>
        </div>
      </nav>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>